[Unit]
Description=Hikaru Analytics

[Service]
ExecStart=%h/analytics/env/bin/uvicorn server:app --reload --host 0.0.0.0 --port PORT
WorkingDirectory=%h/analytics
StandardOutput=append:%h/analytics/stdout.log
StandardError=append:%h/analytics/stderr.log
Restart=on-failure

[Install]
WantedBy=default.target
