[Unit]
Description=Hikaru Analytics

[Service]
ExecStart=%h/analytics/env/bin/uvicorn server:app --reload --host 0.0.0.0 --port PORT
WorkingDirectory=%h/analytics
StandardOutput=append:%h/analytics/stdout.log
StandardError=append:%h/analytics/stderr.log
Restart=on-failure
ReadWritePaths=%h/analytics
PrivateTmp=yes
RestrictSUIDSGID=yes
LockPersonality=yes
RestrictRealtime=yes
ProtectHostname=yes
NoNewPrivileges=yes

[Install]
WantedBy=default.target
